[submodule "YOUTUBE/Projects/Subway_Shorts"]
	path = YOUTUBE/Projects/Subway_Shorts
	url = https://github.com/dmdg-official/DMDG_UT_Subway_Shorts.git
[submodule "YOUTUBE/Projects/Geumdeungjisa"]
	path = YOUTUBE/Projects/Geumdeungjisa
	url = https://github.com/dmdg-official/DMDG_UT_Geumdeungjisa.git
[submodule "YOUTUBE/Projects/TempleFoodUS"]
	path = YOUTUBE/Projects/TempleFoodUS
	url = https://github.com/dmdg-official/DMDG_UT_TempleFoodUS.git
[submodule "YOUTUBE/Projects/Empress_Longform"]
	path = YOUTUBE/Projects/Empress_Longform
	url = https://github.com/dmdg-official/DMDG_UT_Empress_Longform.git
[submodule "YOUTUBE/Projects/JeongjoAssassination"]
	path = YOUTUBE/Projects/JeongjoAssassination
	url = https://github.com/dmdg-official/DMDG_UT_JeongjoAssassination.git
[submodule "YOUTUBE/Projects/TempleFood"]
	path = YOUTUBE/Projects/TempleFood
	url = https://github.com/dmdg-official/MDG_UT_TempleFood.git
[submodule "YOUTUBE/Projects/Hangeul_Meadow"]
	path = YOUTUBE/Projects/Hangeul_Meadow
	url = https://github.com/dmdg-official/DMDG_UT_Hangeul_Meadow.git
[submodule "YOUTUBE/Projects/Subway_Smell"]
	path = YOUTUBE/Projects/Subway_Smell
	url = https://github.com/dmdg-official/DMDG_UT_Subway_Smell.git
[submodule "YOUTUBE/Projects/SadoSeja"]
	path = YOUTUBE/Projects/SadoSeja
	url = https://github.com/dmdg-official/DMDG_UT_SadoSeja.git
