# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Media / Outputs
YOUTUBE/result/**/*.mp4
YOUTUBE/result/**/*.wav
*.zip
*.mp4
*.wav

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
client_secret*.json
